---
import "../styles/global.css";
import { ThemeModeScript } from "flowbite-react";
---

<!doctype html>
<html lang="en">
  <head>
    <ThemeModeScript />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Discord Bot</title>
  </head>
  <body class="bg-gradient-to-r from-gray-700 via-gray-800 to-gray-900">
    <slot />
  </body>
</html>
