---
import Navbar from "../components/React/Navbar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
<<<<<<< HEAD
    <Navbar />
    <slot />
  </body>
</html>
=======
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: darkslategrey;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
>>>>>>> 5723dd4 (added Elysia)
